
/* 
    Created on : Nov 4, 2020, 9:06:57 PM
    Author     : wrath
*/

.flowpane { 
    -fx-background-color: white; 
    -fx-border-color: black;
    -fx-end-magin: 10;
}

.tab-label{
    -fx-alignment: center;
    -fx-background-color: white;
}

.tab-pane .tab-header-area .tab-header-background{
    -fx-background-color: green;
}

.tab{
    -fx-alignment: center;
    -fx-background-color: white;
}

.table-view{
    -fx-alignment: center;
}
/*
.tab-pane{
    -fx-background-color: white;
}
*/
